.WeatherShort {
    justify-content: space-between;
    transition: .1s ease-in;
}

.WeatherShort > * {
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
}

.WeatherShort h3 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
}

.location {
    display: inline-flex;
    align-items: center;
}

.WeatherShort button {
    position: absolute;
    top: 1rem;
    padding: 0 0.5rem;
    z-index: 2;
}

.WeatherShort .weather-remove {
    left: 1rem;
}

.WeatherShort .weather-expand {
    right: 1rem;
}

.WeatherShort:hover,
.WeatherShort:active {
    box-shadow: 0 0 10px 0 deepskyblue;
    transform: scale(1.02);
    cursor: move;
}