.WeatherGlobal {
    width: 50%;
    margin: 0 auto;
}

.WeatherGlobal .transition-item-global-enter {
    opacity: 0;
    transform: scale(0.2);
}
.WeatherGlobal .transition-item-global-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 500ms ease-in-out;
}
.WeatherGlobal .transition-item-global-exit {
    opacity: 1;
    transform: scale(1);
}
.WeatherGlobal .transition-item-global-exit-active {
    opacity: 0;
    transform: scale(0.2);
    transition: all 500ms ease-in-out;
}