.location-detailed {
    display: flex;
    flex-direction: column;
}

.location-detailed * {
    margin-bottom: 0.5rem;
}

.location-detailed .weather-description {
    text-transform: capitalize;
}

.location-detailed .temperature {
    font-size: 3rem;
}