h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.WeatherDetailed {
    flex-direction: column;
}

.WeatherDetailed:hover,
.WeatherDetailed:active {
    box-shadow: 0 0 10px 0 deepskyblue;
    transform: scale(1.02);
}
