.search-form {
    display: flex;
    justify-content: center;
}

.search-form .data-submit {
    border: 1px solid deepskyblue;
    color: deepskyblue;
}

.search-form .data-submit:hover {
    border: 1px solid deepskyblue;
    background-color: rgba(255, 255, 255, 0.5);
}

.search-form .data-input {
    margin-right: 1rem;
}

.search-form .MuiFormLabel-root.Mui-focused {
    color: deepskyblue;
}

.search-form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: deepskyblue;
}